@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

body {
  margin: 0; 
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
}

.header {
  background-color: #ffffff;
  color: #000000;
  font-size: 60px;
  font-family: 'Itim', cursive;
  padding: 15px;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}  

.fullpg {
  background-color: #ffffff;
  color: #000000;
}

table, th, td {
  border: none;
  text-align: center;
}

.separator {
  border-top: 1px solid black;
}

.ui-button {
  -webkit-tap-highlight-color: transparent; /* Mobilon történő érintési kiemelés eltüntetése */
  -webkit-focus-ring-color: transparent; /* Chrome kék fókuszgyűrű eltüntetése */
}

.ui-button:active, 
.ui-button:focus,
.ui-button:focus-visible {
  outline: none !important;
}

.ui-button .ui-button-text:active
.ui-button .ui-button-text:focus
.ui-button .ui-button-text:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: none;
}

.ui-button .ui-button-text ui-c:active
.ui-button .ui-button-text ui-c:focus
.ui-button .ui-button-text ui-c:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: none;
}

.ui-button span:focus,
.ui-button span:active,
.ui-button span:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: transparent !important;
}

.button {
  width: 280px;
  height: 45px;
  font-family: 'Itim', cursive;
  font-size: 24px;	
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  color: #23282e;
  background: #ffffff linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 30%);
  outline: 0;
  text-align: center;
  opacity: 0.8;
}

.button:hover {
  background: #dddddd linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);
}

.button:active {
  background: #b0b0b0 linear-gradient(to bottom, rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.2) 100%);
}

.button:disabled {
  border: transparent;
  background: transparent;
  color: transparent;
}

.menubutton {
  flex: 1;
  min-width: 14px;
  max-width: 40px;
  max-height: 7vh;
  padding: 0.5vh;
  text-align: center;
  border: none;
  border-radius: 0px;
  background: transparent;
  cursor: pointer;
  color: #23282e;
  font-family: 'Itim', cursive;
  font-size: clamp(16px, 5vh, 28px);
  box-shadow: none;
}

.menubutton:hover {
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.8);
  border: 1px #23282e;
  box-shadow: 1px white;
}  

.menubutton:active {
  transform: scale(0.95);
}

.menubutton:disabled {
  border: transparent;
  background: transparent;
  color: transparent;
}  

.ui-widget-content {
  border: none !important;
}

.ui-state-default {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;  
}

.gamebutton {
  flex: 1;
  min-width: 80px;
  max-width: 90px;
  padding: 5px;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #23282e;
  font-family: 'Itim', cursive;
  font-size: 50px;	
  text-shadow: none;
  opacity: 0.9;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */  
}

.gamebutton:hover {
/*  color: rgba(0, 0, 0, 0.8);
  border: 1px #23282e;
  box-shadow: 1px white;*/
  transform: scale(1.1);
}  

.gamebutton:active {
  transform: scale(0.95);
}

.addplayerbutton {
  flex: 1;
  max-width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px;
  background: transparent !important;
  cursor: pointer;
  color: #23282e;
  font-family: 'Itim', cursive;
  font-size: 28px;	
  box-shadow: none !important;
  text-shadow: 0 1px 0 grey !important;
}

.addplayerbutton .ui-icon {
  top: 25%;
  left: 0%;
  width: 40px; /* Ikon szélessége */
  height: 40px; /* Ikon magassága */
  font-size: 32px; /* Ikon méretét is beállítja, ha szükséges */
}

.addplayerbutton:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px #23282e !important;
  box-shadow: none !important;
  transform: scale(1.05);
}  

.addplayerbutton:active {
  background: rgba(0, 0, 0, 0.2);
}

.delplayerbutton {
  flex: 1;
  max-width: 30px !important;
  height: 30px !important;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px;
  background: transparent !important;
  cursor: pointer;
  color: #23282e;
  font-family: 'Itim', cursive;
  font-size: 28px;	
  box-shadow: none;
}

.delplayerbutton .ui-icon {
  top: 25%;
  left: 0%;
  width: 30px; /* Ikon szélessége */
  height: 30px; /* Ikon magassága */
  font-size: 28px; /* Ikon méretét is beállítja, ha szükséges */
}

.delplayerbutton:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px #23282e !important;
  box-shadow: none !important;
  transform: scale(1.05);
}  

.delplayerbutton:active {
  background: rgba(0, 0, 0, 0.2);
}

.inputtextplayer{
  font-family: 'Itim', cursive;
  font-size: 18px !important;	
  text-transform: uppercase;
  text-align: left;
  padding: 5px 3px 1px 3px !important;
}

.outputtextplayer{
  font-family: 'Itim', cursive;
  font-size: 24px !important;	
  text-transform: uppercase;
  text-align: left;
  padding: 5px 3px 1px 3px !important;
}

.pointstext{
  font-size: 20px !important;	
}

.starttext {
  font-family: 'Itim', cursive;
  font-size: calc(3vh + 4px);	
  font-weight: bold;
  color: #23282e;
}

.sidebartitletext {
  font-family: 'Itim', cursive;
  font-size: calc(1vh + 14px);	
  font-weight: bold;
  color: #23282e;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 24px;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.questiontext {
  font-family: 'Itim', cursive;
  font-size: calc(3vh + 6px);	
  font-weight: bold;
  color: transparent;
  text-align: center;
  visibility: hidden;
}

.questiontextmedium {
  font-family: 'Itim', cursive;
  font-size: calc(3vh + 4px);	
  font-weight: bold;
  color: transparent;
  text-align: center;
  visibility: hidden;
}

.questiontextsmall {
  font-family: 'Itim', cursive;
  font-size: calc(3vh + 2px);	
  font-weight: bold;
  color: transparent;
  text-align: center;
  visibility: hidden;
}

.question-word {
  margin-right: 5px; /* Példa: szavak közötti távolság */
  white-space : nowrap;
  visibility: hidden;
  color: transparent;
}

.question-letter {
  color: #23282e;
  font-weight: bold;
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
  visibility: hidden;
  /*visibility: visible;*/
}

.explanation {
  font-family: 'Itim', cursive;
  font-size: calc(2vh + 6px);	
  font-weight: bold;
  color: #23282e;
  text-align: center;
  visibility: hidden;
}

.explanationmedium {
  font-family: 'Itim', cursive;
  font-size: calc(2vh + 4px);	
  font-weight: bold;
  color: #23282e;
  text-align: center;
  visibility: hidden;
}

.explanationsmall {
  font-family: 'Itim', cursive;
  font-size: calc(2vh + 2px);	
  font-weight: bold;
  color: #23282e;
  text-align: center;
  visibility: hidden;
}

.settingstext {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: bold;
  color: #23282e;
  text-align: left;
}

.abouttext {
  font-family: 'Itim', cursive;
  font-size: 18px;	
  font-weight: normal;
  color: black;
  text-align: left;
  line-height: 1.3;
}

.recentqtext {
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: normal;
  line-height: 1.0;
  color: black;
  text-align: left;
  padding: 2px;
}

.input {
  font-family: 'Itim', cursive;
  width: 35px;
  font-size: 20px;	
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

.error {
  font-family: 'Itim', cursive;
  font-size: 14px;	
  color: red;
  line-height: 14px;
}

.gamepiece{
  font-size: 24px;
  color: black;
}

.div-sidebar {
  overflow-y: auto;
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: #758184 #f1f1f1;
}

.div-sidebar::-webkit-scrollbar {
  width: 12px; /* vagy más érték a kívánt szélességhez */
}

.div-sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* a háttér színe */
}

.div-sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* az aktív görgetősáv színe */
  border-radius: 10px; /* görgetősáv szögletesítése */
}

.noheadertable table {
  border-collapse: collapse !important; /* Egyesítjük a határokat */
  border: none !important; /* Táblázat külső határainak eltávolítása */
  background: transparent !important;
  table-layout: fixed;
}

.noheadertable tbody {
  border-collapse: collapse !important; /* Egyesítjük a határokat */
  border: none !important; /* Táblázat külső határainak eltávolítása */
  background: transparent !important;
}

.noheadertable td, 
.noheadertable th {
  border: none !important; /* Cellák közötti határok eltávolítása */
}

.noheadertable thead {
  display: none;
}

.noheadertable .ui-datatable-odd,
.noheadertable .ui-datatable-even {
  border: none !important; /* Sorok közötti vonalak eltávolítása */
  background: transparent !important;
}

.noheadertable tbody tr {
  border: none !important; /* Esetleges maradék sorhatárok eltávolítása */
}

.noheadertable tbody td:first-child {
  width: 60px !important;
  box-sizing: border-box; /* A padding és border beleszámít a 40 pixelbe */
  padding: 4px 5px 4px 0px !important;
}

.noheadertable tbody td {
  border: none !important; /* Cellák alatti határok eltávolítása */
  width: auto; /* Ez az oszlop rugalmas lesz */
}

.ui-datatable tbody tr.deciderrow {
  border-top: 12px solid #e4d3b5 !important;
}

.ui-datatable-odd tbody tr.deciderrow {
  border-top: 12px solid #e4d3b5 !important;
}

.ui-datatable-even tbody tr.deciderrow {
  border-top: 12px solid #e4d3b5 !important;
}

.simpleheadertable {
  border: none !important; /* Cellák alatti határok eltávolítása */
  background: transparent !important;
  border-collapse: collapse !important; /* Egyesítjük a határokat */
}

.simpleheadertable thead th {
  border: none !important; /* Cellák alatti határok eltávolítása */
  background: transparent !important;
  border-collapse: collapse !important; /* Egyesítjük a határokat */
  box-shadow: none !important;
}

.simpleheadertable tbody tr:first-child {
  border-top: 12px solid #D8DCDD;
}

.simpleheadertable .ui-datatable-odd {
  border-color: #e4d3b5 !important;
  background: #f8f0e3 !important;
}

.simpleheadertable .ui-datatable-even {
  border-color: #e4d3b5 !important;
  background: transparent !important;
}

.player-box {
  display: inline-flex; /* Flexbox elrendezés a dobozon belül */
  align-items: center; /* Szöveg és négyzet középre igazítása vertikálisan */
  margin: 3px; /* Távolság a dobozok között */
  padding: 3px; /* Belül kis térköz */
  border: 1px solid #ccc; /* Opciósan keret a doboznak */
  border-radius: 5px; /* Lekerekített sarkok */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Opciósan árnyék */
  text-transform: uppercase;
}

.color-box {
  width: 15px;
  height: 15px;
  margin-right: 5px; /* Távolság a négyzet és a szöveg között */
  border: 1px solid #000; /* Opciósan keret a négyzetnek */
}

.player-name{
  font-family: 'Itim', cursive;
  font-size: 15px;	
  font-weight: normal;
  line-height: 1.0;
  color: black;
  text-align: left;
  padding: 2px;
}

.ui-column-content {
  display: flex;
  flex-wrap: wrap; /* Automatikus törés több sorba, ha szükséges */
  margin-left: 5px; /* Távolság a dobozok között */
}

#pageform\:colorPicker_0 {
  background-color: red !important;
  color: white !important;
}

#pageform\:colorPicker_1 {
  background-color: green !important;
  color: white !important;
}

#pageform\:colorPicker_2 {
  background-color: blue !important;
  color: white !important;
}

#pageform\:colorPicker_3 {
  background-color: yellow !important;
  color: black !important;
}
    
/* Alapértelmezett stílus a menü szöveges részére */
.ui-selectonemenu-label {
  color: black !important; /* Alapértelmezett szövegszín */
  font-weight: bold; /* A szöveg jobban látható */
}

.playercheckbox{
  background-color: white; 
  height: 30px; 
  width: 30px; 
  box-shadow: 1px 1px 0 grey;
  font-size: 24px !important;
}  

.playercheckbox:hover{
  background-color: #eeeeee; 
  transform: scale(1.05);
}

.ui-chkbox .ui-chkbox-box{
  width: 16px !important;
  height: 16px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  transform: scale(2) !important;
}

.ui-colorpicker {
  width: 100% !important; /* A színválasztó gomb szélessége */
  height: 30px !important; /* A színválasztó gomb magassága */
  padding: 0px !important; /* Eltávolítja az alapértelmezett belső margót */
  border: none !important; /* Szükség esetén lekerekíti a széleket */
  overflow: hidden; /* Biztosítja, hogy a tartalom ne nyúljon túl */
  display: flex; /* Inline blokkra állítja a gombot */
  align-items: center;
  justify-content: space-between;
  border: none;
}

.ui-colorpicker .ui-button-text {
  padding: 0.3em 0.5em;
}  

.ui-colorpicker .ui-button {
  background: transparent;
  color: white;
  width: 100% !important;
  height: 100% !important;
  margin-top:2px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: transparent;
}

.ui-colorpicker .ui-button .ui-button-text {
  width: 100% !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ui-colorpicker .ui-button-text {
  width: 100% !important;
  align-items: center;
  justify-content: space-between;
}

.custom-select-menu .ui-selectonemenu-label:contains("Piros") {
  background-color: red !important;
  color: white !important;
}
.custom-select-menu .ui-selectonemenu-label:contains("Zöld") {
  background-color: green !important;
  color: white !important;
}
.custom-select-menu .ui-selectonemenu-label:contains("Kék") {
  background-color: blue !important;
  color: white !important;
}
.custom-select-menu .ui-selectonemenu-label:contains("Sárga") {
  background-color: yellow !important;
  color: black !important;
}

.custom-color-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-color-item {
  padding: 5px 10px;
  margin: 2px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.custom-color-item:hover {
  filter: brightness(90%);
}

.ui-inputtext::placeholder {
  font-style: italic;  /* Dőlt betű stílus */
  font-size: 16px;  /* Betűméret módosítása */
}

.ui-datatable tbody td.questioncol {
  padding: 2px !important;
  padding-bottom: 5px !important;
  vertical-align: middle !important;
  height: 100%;
  display: table-cell !important;
}

.ui-toggleswitch{
  height: 30px !important;
  width: 60px !important;
}

.ui-toggleswitch-slider {
  -webkit-transition: background-color 0.3s, box-shadow 0.2s;
  transition: background-color 0.3s, box-shadow 0.2s;
  background: #a89576;
}

.ui-toggleswitch-slider:before {
  background-color: #ffffff;
  height: 20px !important;
  width: 20px !important;
  left: 10px !important;
  bottom: 5px !important;
}

.ui-toggleswitch-focus .ui-toggleswitch-slider {
  -moz-box-shadow: 0px 0px 5px #c0c0c0;
  -webkit-box-shadow: 0px 0px 5px #c0c0c0;
  box-shadow: 0px 0px 5px #c0c0c0;
}

.ui-toggleswitch-checked .ui-toggleswitch-slider:before {
  transform: translateX(25px) !important;
}

.ui-toggleswitch:not(.ui-state-disabled):hover .ui-toggleswitch-slider {
  background-color: #b7b7b7;
}

.ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
  background-color: #8e6521;
}

.ui-toggleswitch.ui-toggleswitch-checked:not(.ui-state-disabled):hover .ui-toggleswitch-slider {
  background-color: #283593;
}

.ui-dialog {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; /* Középre igazítás */
  width: 90vw !important; /* A képernyő 90%-a... */
  max-width: 800px; /* ...de legfeljebb ennyi pixel */
  height: 90vh; /* A magasság is 90% */
  max-height: 90vh;
  background-color: #e4d3b5;
  overflow: hidden !important;
}

.ui-dialog-content {
  padding-top: 0px !important;
  max-height: 85vh !important;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #758184 #f1f1f1;
}

.ui-dialog .ui-dialog-titlebar {
  background: #d8dcdd !important;
  color: black; 
  font-weight: bold;
  font-size: 20px;
  border-bottom: none;
}

.ui-dialog .ui-dialog-content::-webkit-scrollbar {
    width: 10px !important; /* Görgetősáv szélessége */
}

.ui-dialog .ui-dialog-content::-webkit-scrollbar-track {
    background: #d8dcdd; /* Görgetősáv háttér */
    border-radius: 10px; /* Lekerekített sarkok */
}

.ui-dialog .ui-dialog-content::-webkit-scrollbar-thumb {
    background-color: #758184; 
    border-radius: 10px;
}

.ui-button .ui-button-text {
    line-height: 1.1;
    white-space: pre-line;
}

.ui-datatable table{
  font-family: 'Itim', cursive;
  line-height: 1.0;
  font-weight: normal;
}

.ui-datatable thead th {
    font-family: 'Itim', cursive;
    background-color: transparent !important; /* Háttérszín */
    color: black; /* Szövegszín */
    font-weight: bold; /* Félkövér szöveg */
    font-size: 18px;
    text-align: left; /* Középre igazított szöveg */
    padding: 5px;
    border-bottom: 2px solid #388E3C; /* Alsó szegély */
}

/************************/
/* ConfirmDialog elemei */
/************************/

.confirmdialog{
  width: 400px !important;
  max-width: 80%;
/*  position: absolute;
  left: 38% !important;
  top: 250px !important;*/
  background-color: #e4d3b5;
  font-family: 'Itim', cursive;
  text-transform: uppercase;
  border: 2px solid;
  border-color: #808571;
  padding: 2px;
  z-index: 100000;
}

/* Fejléc */

div.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
  background-color: #e4d3b5 !important;
}

/* "Megerősítés" szöveg */
span.ui-dialog-title{
  font-family: 'Itim', cursive;
  font-size: 16px;	
  font-weight: bold;
  color: #808571;
  display: none;
}

/* x a sarokban */
.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all{
  background-color: #e4d3b5;
  color: black;
}

/* Ikon eltüntetése a kérdés mellől */
.ui-dialog-content > .ui-icon {
  display: none;
}

/* kérdés szövege */
.ui-confirm-dialog .ui-dialog-content{
  padding: 0 10px 16px 10px;
  text-align: center;
}

span.ui-confirm-dialog-message {
  font-family: 'Itim', cursive;
  font-size: 24px;	
  font-weight: normal;
  line-height: 1.5 !important;
  color: black;
}

/* gombok befoglalója */
.ui-dialog-buttonpane.ui-dialog-footer.ui-widget-content.ui-helper-clearfix{
  background-color: #e4d3b5;
  color: black;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}

/* "Igen" gomb */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-yes{
  flex: 1;
  min-width: 110px;
  max-width: 120px;
  height: 60px;
  padding: 5px;
  text-align: center;
  border: transparent;
  border-radius: 1px;
  background: transparent;
  cursor: pointer;
  color: black;
  font-family: 'Itim', cursive;
  font-size: 24px;	
  box-shadow: #b0b0b0;
  opacity: 0.9;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-yes:hover {
  transform: scale(1.1);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-yes:active {
  transform: scale(0.95);
}

/* "Nem" gomb */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-no{
  flex: 1;
  min-width: 110px;
  max-width: 120px;
  height: 60px;
  padding: 5px;
  text-align: center;
  border: transparent;
  border-radius: 1px;
  background: transparent;
  cursor: pointer;
  color: black;
  font-family: 'Itim', cursive;
  font-size: 24px;	
  box-shadow: #b0b0b0;
  opacity: 0.9;
  padding: 0 !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-no:hover {
  transform: scale(1.1);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-confirmdialog-no:active {
  transform: scale(0.95);
}

@media (pointer: none) {
  .pointer-fine {
    display: none;
  }
}

@media (pointer: coarse) {
  .pointer-fine {
    display: none;
  }
}

@media (pointer: fine) {
  .pointer-none {
    display: none;
  }
}

@media (max-aspect-ratio: 5/8) {
  .high-ratio {
    display: none;
  }
}

@media (min-aspect-ratio: 5/8) {
  .low-ratio {
    display: none;
  }
}

@media (max-aspect-ratio: 2) {
  .maintable {
    max-width: 75vh;
    top: calc(-20px + 3vh);
    position: relative;  }
}

@media (min-aspect-ratio: 2) {
  .maintable {
    max-width: 90vh;
    top: calc(-20px + 3vh);
    position: relative;  }
}
