<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</Property>      
    <Property name="LOG_PATH">${sys:user.home}/logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <RollingFile name="FileLogger"
                 fileName="${LOG_PATH}/kezdojatekos.log"
                 filePattern="${LOG_PATH}/kezdojatekos-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <!-- Naponta ill. 10 MB-onként új fájl -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        <SizeBasedTriggeringPolicy size="10MB" />
      </Policies>
      <!-- Naponta legfeljebb 10 fájl -->
      <DefaultRolloverStrategy max="10">
        <Delete basePath="${LOG_PATH}" maxDepth="10">
          <!-- 30 napnál régebbi fájlok törlése -->
          <IfLastModified age="30d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console" level="trace"/>
      <AppenderRef ref="FileLogger" level="info" />
    </Root>
  </Loggers>
</Configuration>